.main-ad{
    width: 100%;
    height: 70vh;
    transform: translateY(70px);
}
.main-ad p{
    font-size: 35px;
   text-align: center;
}
.cut img{
    margin-left: 100px;
  transform: translateY(135px);
}
.cut2 img{
    float: right;
    margin-right: 100px;
    transform: translateY(110px);
}
.main-ad1{
    width: 100%;
    display: flex;
   justify-content: center;
   gap: 10px;
}

.main-ad2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}